{% extends "web/utils/base.html" %}
{% load static %}

{% block content %}
    {% include 'web/utils/common/topbar.html' %}
    {% include 'web/utils/common/menu.html' %}
    {% include 'web/utils/sections/banner.html' %}
    {% include 'web/utils/sections/welcome.html' %}
    {% include 'web/utils/sections/services.html' %}
{#    {% include 'web/utils/sections/projects.html' %}#}
{#    {% include 'web/utils/sections/video.html' %}#}
{#    {% include 'web/utils/sections/team.html' %}#}
{#    {% include 'web/utils/sections/testimonials.html' %}#}
{#    {% include 'web/utils/sections/pricing.html' %}#}
    {% include 'web/utils/sections/welcome2.html' %}
{#    {% include 'web/utils/sections/blog.html' %}#}
    {% include 'web/utils/sections/contact_form.html' %}
    {% include 'web/utils/sections/map.html' %}
{#    {% include 'web/utils/sections/clients.html' %}#}
    {% include 'web/utils/sections/contact.html' %}
    {% include 'web/utils/common/footer.html' %}
{% endblock %}