{% extends "web/utils/base.html" %}
{% load static %}

{% block content %}
    {% include "web/sections/topbar.html" %}
    {% include "web/sections/header-curvy.html" %}
    {% include "web/sections/rev_slider_wrapper.html" %}
    {% include "web/sections/construction-welcome.html" %}
    {% include "web/sections/service-we-provide.html" %}
    {% include "web/sections/project-version-one.html" %}
{#    {% include "web/sections/video-section-construction.html" %}#}
{#    {% include "web/sections/our-team-construct.html" %}#}
{#    {% include "web/sections/testimonials-construct-home.html" %}#}
{#    {% include "web/sections/pricing-content.html" %}#}
    {% include "web/sections/welcome-to-construct.html" %}
{#    {% include "web/sections/blog-construct.html" %}#}
    {% include "web/sections/contact-content.html" %}
    {% include "web/sections/contact-google-map.html" %}
{#    {% include "web/sections/clients.html" %}#}
    {% include "web/sections/great-construct-team.html" %}
    {% include "web/sections/footer.html" %}
    {% include "web/sections/bottom-bar.html" %}
{% endblock %}