{% extends "scrumboard/base.html" %}

{% block page %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h3>Requirements list</h3>
        </div>
        <table class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Detail</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Priority</th>
                <th class="mdl-data-table__cell--non-numeric">Deadline</th>
                <th class="mdl-data-table__cell--non-numeric" width="12%">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for requirement in requirements %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ requirement.detail }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ requirement.type }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ requirement.priority }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ requirement.deadline }}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a class="mdl-button mdl-js-button mdl-button--icon"
                           href="{% url "core:scrumboard:update" requirement.id %}">
                            <i class="material-icons">mode_edit</i>
                        </a>
                        <a class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                           href="{% url "core:scrumboard:delete" requirement.id %}">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" style="text-align: center">There is no requirement yet</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}