{# Blog construct #}

<section id="blog-construct">
    <div class="container">
        <div class="section-title">
            <h1>Blogs</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single-blog-post">
                <div class="img-holder hvr-rectangle-out">
                    <img src="img/blog-construct/1.jpg" alt="">
                    <div class="date">
                        <b>05</b> <br> Aug
                    </div>
                </div>
                <a href="#"><h2>Heading of Blog</h2></a>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolorem que laudantium
                    totam rem aperiam</p>
                <ul>
                    <li><span><b>By: </b> Anjori Meyami</span></li>
                    <li><a href="#">Comments 6</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single-blog-post">
                <div class="img-holder hvr-rectangle-out">
                    <img src="img/blog-construct/2.jpg" alt="">
                    <div class="date">
                        <b>05</b> <br> Aug
                    </div>
                </div>
                <a href="#"><h2>Heading of Blog</h2></a>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolorem que laudantium
                    totam rem aperiam</p>
                <ul>
                    <li><span><b>By: </b> Anjori Meyami</span></li>
                    <li><a href="#">Comments 6</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single-blog-post">
                <div class="img-holder hvr-rectangle-out">
                    <img src="img/blog-construct/3.jpg" alt="">
                    <div class="date">
                        <b>05</b> <br> Aug
                    </div>
                </div>
                <a href="#"><h2>Heading of Blog</h2></a>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolorem que laudantium
                    totam rem aperiam</p>
                <ul>
                    <li><span><b>By: </b> Anjori Meyami</span></li>
                    <li><a href="#">Comments 6</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{# /Blog construct #}