{# #contact-content #}

<section id="contact-content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title">
                    <h1>Feel Free to Drop Us A Line To Contact Us</h1>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <form action="#" class="contact-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-sm-3">
                            <p>
                                <button type="submit">Submit Now</button>
                            </p>
                        </div>
                        <div class="col-sm-9">
                            {% include "web/utils/common/messages.html" %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-info">
                <ul>
                    <li>
                        <div class="icon-box">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="text-box">
                            <p>5750 Singing Hills Ave<br>Livermore, CA 94551</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="text-box">
                            <p>info@constructpress.com <br>support@constructpress.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="text-box">
                            <p>+ 925 564 9007</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{# /#contact-content #}