{% load static %}
{# #project-version-one #}
<section id="project-version-one" class="construct home">
    <div class="container">
        <div class="section-title">
            <h1>our latest projects</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="gallery-filter">
                    {#                    <li data-filter=".management" class="filter">#}
                    {#                        <span>Property Management</span>#}
                    {#                    </li>#}
                    <li data-filter="all" class="filter active">
                        <span>All</span>
                    </li>
                    <li data-filter=".cabin" class="filter">
                        <span>Cabin</span>
                    </li>
                    <li data-filter=".home_remodel" class="filter">
                        <span>Home Remodels</span>
                    </li>
                    <li data-filter=".roofing" class="filter">
                        <span>Roofing</span>
                    </li>
                    <li data-filter=".electrical" class="filter">
                        <span>Electrical</span>
                    </li>
                    <li data-filter=".landscaping" class="filter">
                        <span>Landscaping</span>
                    </li>
                    <li data-filter=".painting" class="filter">
                        <span>Painting</span>
                    </li>
                    <li data-filter=".carpet" class="filter">
                        <span>Carpet and Flooring</span>
                    </li>
                    <li data-filter=".janitorial" class="filter">
                        <span>Janitorial services</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row normal-gallery gallery-v4" id="image-gallery-mix">

            <div class="single-project-item mix carpet">
                <div class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-1.png?alt=media&token=5edb3ab3-ffa0-487e-a6fa-1ac8e4759a7b"
                         alt="img-1">
                </div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-10.png?alt=media&token=00153536-0e65-4542-a4b1-a63298d74434"
                         alt="img-2">
                </div>
            </div>
            <div class="single-project-item mix cabin carpet">
                <div class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-11.png?alt=media&token=26a557fa-a8a8-446e-b34c-2691ec6034af"
                         alt="img-3">
                </div>
            </div>
            <div class="single-project-item mix cabin carpet">
                <div class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-12.png?alt=media&token=0dc9fa7b-66d4-45af-8ce2-6ca4ac3a93a8"
                         alt="img-4">
                </div>
            </div>
            <div class="single-project-item mix cabin carpet">
                <div class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-13.png?alt=media&token=fdbcaa9c-2234-4912-ac9e-28f5fa8690af" alt="img-5">
                </div>
            </div>

            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-14.png?alt=media&token=8846cf30-aa6c-49ee-902c-ea2ba5157b09" alt="img-6"></div>
            </div>
            <div class="single-project-item mix cabin carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-15.png?alt=media&token=ddbe4859-4fba-47aa-af46-3c23c13f754b" alt="img-7"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-16.png?alt=media&token=0c7e2ae4-d9f3-4087-a695-db0841dc2282" alt="img-8"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-17.png?alt=media&token=373d7c40-bbda-4f65-9417-08427761e215" alt="img-9"></div>
            </div>
            <div class="single-project-item mix electrical carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-18.png?alt=media&token=c53a2255-a464-480e-b2e0-c603855e5665" alt="img-10"></div>
            </div>

            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-19.png?alt=media&token=db61b4ab-495a-4cc2-b425-f18eed943a12" alt="img-11"></div>
            </div>
            <div class="single-project-item mix landscaping carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-2.png?alt=media&token=772c5087-73d9-4600-8a7c-f8bd0249051d" alt="img-12"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-20.png?alt=media&token=556c63a3-0ed6-4df8-a531-eee55b17b0f2" alt="img-13"></div>
            </div>
            <div class="single-project-item mix home_remodel">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-21.png?alt=media&token=9bf2b19e-0d4d-40ca-9d3c-2635308ffa39" alt="img-14"></div>
            </div>
            <div class="single-project-item mix cabin carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-22.png?alt=media&token=faa21fbd-a535-4c85-91a5-0af702e51095" alt="img-15"></div>
            </div>

            <div class="single-project-item mix home_remodel">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-23.png?alt=media&token=8d666d96-b776-478e-922e-ae43cf441b45" alt="img-16"></div>
            </div>
            <div class="single-project-item mix electrical carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-25.png?alt=media&token=17294f3a-72c2-45f3-9f83-e1943b3e7b46" alt="img-18"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-26.png?alt=media&token=2abcc849-a10c-40ea-84a9-b6599a1b9847" alt="img-19"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-27.png?alt=media&token=56c6d657-7ed9-43c1-9c7e-81a1581f4f8e" alt="img-20"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-28.png?alt=media&token=5fd0787b-5f5d-473e-9e25-0ab82326a0e2" alt="img-21"></div>
            </div>


            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-3.png?alt=media&token=f6c95ee5-a8c8-45c9-b4fc-ba5860fbdfbd" alt="img-23"></div>
            </div>
            <div class="single-project-item mix landscaping carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-30.jpg?alt=media&token=dafe056f-1a23-43e2-b9b5-fbe722deae8b" alt="img-24"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-31.jpg?alt=media&token=62478324-e56f-488c-89a4-d617d5785b88" alt="img-25"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-32.jpg?alt=media&token=254b843a-20e0-49f1-bcd4-f80cbb195a64" alt="img-26"></div>
            </div>


            <div class="single-project-item mix home_remodel">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-35.jpg?alt=media&token=7cf07700-9172-450d-897f-60fda4e3884c" alt="img-28"></div>
            </div>
            <div class="single-project-item mix electrical carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-36.jpg?alt=media&token=08d026dd-b53b-4ede-9057-b7f8f78e7f03" alt="img-29"></div>
            </div>
            <div class="single-project-item mix painting">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-37.jpg?alt=media&token=4c189a91-a30c-415e-8a17-5726bfcea645" alt="img-30"></div>
            </div>

            <div class="single-project-item mix roofing landscaping">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-39.jpg?alt=media&token=042ab5da-7b31-44ea-92a8-279c53261ab3" alt="img-32"></div>
            </div>
            <div class="single-project-item mix landscaping carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-40.jpg?alt=media&token=b5326b47-4849-4610-ac41-4b11ccd82aed" alt="img-34"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-41.jpg?alt=media&token=bda38220-cac7-4bac-a9bc-8016400dc938" alt="img-35"></div>
            </div>
            <div class="single-project-item mix electrical carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-42.jpg?alt=media&token=6897bd73-c9de-4a03-b57d-f08b66e49490" alt="img-36"></div>
            </div>
            <div class="single-project-item mix home_remodel">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-43.jpg?alt=media&token=de8a373d-641b-4e23-bf52-907a8bb73645" alt="img-37"></div>
            </div>

            <div class="single-project-item mix landscaping carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-46.jpg?alt=media&token=60f4cfec-0dc5-4812-96a8-2f4b50acc9c3" alt="img-38"></div>
            </div>

            <div class="single-project-item mix electrical">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-48.jpg?alt=media&token=9d811683-d9ca-4db8-8598-fb2eca3baa74" alt="img-40"></div>
            </div>
            <div class="single-project-item mix landscaping">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-49.jpg?alt=media&token=748945ea-9c6f-4cdb-b4a5-3010413178ca" alt="img-41"></div>
            </div>

            <div class="single-project-item mix home_remodel">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-50.jpg?alt=media&token=0ec3c279-e6d5-43f5-aa0c-e6da97c2d795" alt="img-43"></div>
            </div>

            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-52.jpg?alt=media&token=7122e22b-b227-4106-a13b-ebde58c1cfe7" alt="img-45"></div>
            </div>
            <div class="single-project-item mix roofing">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-53.jpg?alt=media&token=0027003e-e1a1-4dce-b4bf-54dcfe497eab" alt="img-46"></div>
            </div>

            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-55.jpg?alt=media&token=ff9051ba-1b12-4b5f-911e-1a42e675fcc1" alt="img-48"></div>
            </div>
            <div class="single-project-item mix carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-56.jpg?alt=media&token=2fe03078-8c64-4170-a4de-80c46b1b4542" alt="img-49"></div>
            </div>
            <div class="single-project-item mix electrical">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-60.jpg?alt=media&token=91ebe74a-c118-4911-9532-79519f742b26" alt="img-51"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-61.jpg?alt=media&token=43a769a8-d8a6-4298-b537-b187179ef3a2" alt="img-52"></div>
            </div>
            <div class="single-project-item mix painting carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-62.jpg?alt=media&token=1595f8ca-7a45-4580-be67-523a80f2a2f8" alt="img-53"></div>
            </div>

            <div class="single-project-item mix carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-63.jpg?alt=media&token=6fcb88a3-2455-4cfb-9170-30e18e9e3b1d" alt="img-54"></div>
            </div>
            <div class="single-project-item mix carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-64.jpg?alt=media&token=527bccca-e2ee-41da-8b92-c323146ae903" alt="img-55"></div>
            </div>
            <div class="single-project-item mix cabin painting">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-65.jpg?alt=media&token=60e0f39e-ed78-4729-a227-b3e14c510bfe" alt="img-56"></div>
            </div>
            <div class="single-project-item mix home_remodel">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-66.jpg?alt=media&token=32749bd9-1b79-499f-abbc-486457da9979" alt="img-57"></div>
            </div>
            <div class="single-project-item mix carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-67.jpg?alt=media&token=28e6607d-5029-4924-82fb-440c4b4b276e" alt="img-58"></div>
            </div>


            <div class="single-project-item mix electrical">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-69.jpg?alt=media&token=ab7c8439-ba8d-423a-9bec-4df8762bde78" alt="img-60"></div>
            </div>
            <div class="single-project-item mix carpet janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-7.png?alt=media&token=65a46be0-8b9a-4376-a6fa-f92257b303a2" alt="img-61"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-71.jpg?alt=media&token=960792d9-8b9f-4b3d-8075-73905ca62a3b" alt="img-62"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-72.png?alt=media&token=9cfe3556-1b8f-482e-8e50-cdbb90e21e06" alt="img-63"></div>
            </div>

            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-73.png?alt=media&token=75be859f-84fd-47fd-9eab-7bcf9e1f5815" alt="img-64"></div>
            </div>
            <div class="single-project-item mix roofing">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-8.png?alt=media&token=03791758-3c25-4dcf-aa42-e57a01df8004" alt="img-65"></div>
            </div>
            <div class="single-project-item mix carpet">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-9.png?alt=media&token=ce6d6fc6-0a5f-400c-9511-494a6f355c76" alt="img-66"></div>
            </div>
            <div class="single-project-item mix cabin">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-24.png?alt=media&token=94cf84d0-0d6d-4b31-b4b6-cf5dd01cd3b6" alt="img-17"></div>
            </div>
            <div class="single-project-item mix janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-4.png?alt=media&token=f238290e-ab65-4cf5-9b83-c1b0b28ce0b2" alt="img-33"></div>
            </div>
            <div class="single-project-item mix landscaping janitorial">
                <div class="img-wrap"><img src="https://firebasestorage.googleapis.com/v0/b/property-solutions-6d114.appspot.com/o/img%2Fproject-v4%2Fimg-5.png?alt=media&token=88afe12b-035b-4bd7-804c-92b68650293d" alt="img-42"></div>
            </div>


            {#        <div class="view-all-btn text-center"><a href="project-v1.html" class="view-all hvr-bounce-to-right">view#}
            {#            all</a></div>#}
            {#            <div class="single-project-item mix  tank outside">#}
            {#                <div class="img-wrap">#}
            {#                    <img src="img/project-v4/1.jpg" alt="">#}
            {#                    <div class="content-wrapper hvr-sweep-to-right">#}
            {#                        <div class="content">#}
            {#                            <div class="button-box">#}
            {#                                <a class="fancybox" data-fancybox-group="home-gallery" title="Building Construction"#}
            {#                                   href="img/project-v4/1.jpg"><i class="fa fa-search-plus"></i></a>#}
            {#                            </div>#}
            {#                            <div class="text-box">#}
            {#                                <h4>Building Construction</h4>#}
            {#                                <span>Lorem ipsum dolor sit amet, cons ctetur adipisicing.</span>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
</section>

{# /#project-version-one #}
