{% load static %}
{# #project-version-one #}
<section id="project-version-one" class="construct home">
    <div class="container">
        <div class="section-title">
            <h1>our latest projects</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="gallery-filter">
                    <li data-filter="all" class="filter active">
                        <span>All</span>
                    </li>
                    <li data-filter=".home-remodel" class="filter">
                        <span>Home Remodels</span>
                    </li>
                    <li data-filter=".roofing" class="filter">
                        <span>Roofing</span>
                    </li>
                    <li data-filter=".electrical" class="filter">
                        <span>Electrical</span>
                    </li>
                    <li data-filter=".landscaping" class="filter">
                        <span>Landscaping</span>
                    </li>
                    <li data-filter=".painting" class="filter">
                        <span>Painting</span>
                    </li>
{#                    <li data-filter=".management" class="filter">#}
{#                        <span>Property Management</span>#}
{#                    </li>#}
                    <li data-filter=".carpet" class="filter">
                        <span>Carpet and Flooring</span>
                    </li>
                    <li data-filter=".janitorial" class="filter">
                        <span>Janitorial services</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row normal-gallery gallery-v4" id="image-gallery-mix">
{#            <div class="single-project-item mix  tank outside">#}
{#                <div class="img-wrap">#}
{#                    <img src="img/project-v4/1.jpg" alt="">#}
{#                    <div class="content-wrapper hvr-sweep-to-right">#}
{#                        <div class="content">#}
{#                            <div class="button-box">#}
{#                                <a class="fancybox" data-fancybox-group="home-gallery" title="Building Construction"#}
{#                                   href="img/project-v4/1.jpg"><i class="fa fa-search-plus"></i></a>#}
{#                            </div>#}
{#                            <div class="text-box">#}
{#                                <h4>Building Construction</h4>#}
{#                                <span>Lorem ipsum dolor sit amet, cons ctetur adipisicing.</span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="single-project-item mix carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (3).jpg' %}" alt="img3"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical painting carpet">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (11).jpg' %}" alt="img11"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical painting">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (12).jpg' %}" alt="img12"></div>
            </div>
            <div class="single-project-item mix roofing carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (14).jpg' %}" alt="img14"></div>
            </div>
            <div class="single-project-item mix carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (15).jpg' %}" alt="img15"></div>
            </div>

            <div class="single-project-item mix home-remodel electrical painting">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (17).jpg' %}" alt="img17"></div>
            </div>
            <div class="single-project-item mix carpet landscaping">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (20).jpg' %}" alt="img20"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (22).jpg' %}" alt="img22"></div>
            </div>
            <div class="single-project-item mix carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (24).jpg' %}" alt="img24"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical painting">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (25).jpg' %}" alt="img25"></div>
            </div>

            <div class="single-project-item mix roofing electrical landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (28).jpg' %}" alt="img28"></div>
            </div>
            <div class="single-project-item mix carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (34).jpg' %}" alt="img34"></div>
            </div>
            <div class="single-project-item mix carpet landscaping">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (36).jpg' %}" alt="img36"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical painting">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (37).jpg' %}" alt="img37"></div>
            </div>
            <div class="single-project-item mix carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (38).jpg' %}" alt="img38"></div>
            </div>

            <div class="single-project-item mix roofing carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (39).jpg' %}" alt="img39"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical painting">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (40).jpg' %}" alt="img40"></div>
            </div>
            <div class="single-project-item mix carpet landscaping janitorial">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (46).jpg' %}" alt="img46"></div>
            </div>
            <div class="single-project-item mix home-remodel electrical painting">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (48).jpg' %}" alt="img48"></div>
            </div>
            <div class="single-project-item mix electrical carpet landscaping">
                <div class="img-wrap"><img src="{% static 'web/img/project-v4/img (50).jpg' %}" alt="img50"></div>
            </div>
{#        <div class="view-all-btn text-center"><a href="project-v1.html" class="view-all hvr-bounce-to-right">view#}
{#            all</a></div>#}
    </div>
</section>

{# /#project-version-one #}