{% load static %}
{# #service-we-provice #}
<section id="service-we-provide" class="construct">
    <div class="container">
        <div class="section-title">
            <h1>Services that we offers</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 wow slideInLeft">
                <div class="service-tab-title">
                    <ul class="clearfix">
                        <li class="active" data-tab-name="home_remodels">Home remodels</li>
                        <li data-tab-name="roofing">Roofing</li>
                        <li data-tab-name="electrical">Electrical</li>
                        <li data-tab-name="landscaping">Landscaping</li>
                        <li data-tab-name="painting">Painting</li>
                        <li data-tab-name="property_management">Property Management</li>
                        <li data-tab-name="carpet_flooring">Carpet and Flooring</li>
                        <li data-tab-name="janitorial_services">Janitorial Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 wow slideInRight">
                <div class="row">
                    <div class="service-tab-content clearfix">
                        <div id="home_remodels" class="row" style="display: block;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br>
                                    dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent <br> ore
                                    veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab illo <br>
                                    inventore veritatis et quasi architecto.</p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (16).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Kitchen</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Bathroom</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Living Room</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Bedrooms</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Additions</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (37).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="roofing" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>
                                    Our job is to serve the community both commercially and residentially with the most
                                    skilled workmanship and service. We work to honor commitment and follow through with
                                    our promises to clients. Also we desire to provide an amazing and long lasting
                                    reputation in the roofing industry. With a foundation of hard work instilled in each
                                    employee we push for honest and hard working men and women.
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (19).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Residential</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Commercial</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (48).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="electrical" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>
                                    Our electrical team is specialized in electrical code, home wire, and IT <br>
                                    services. Also We install:
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (24).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Ceiling Fans</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Flood lights with LED</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Chandeliers</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (43).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="landscaping" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>To enhance the appeal of each property and create value that will exceed
                                    expectations every step of the way is the mission of our landscape team. Our core
                                    values are accountability, growth, honesty, quality and trust.</p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (41).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Fire Pits</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Irrigation</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Design</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Fencing</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Gardening</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (5).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="painting" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>Our team has 30 years of painting experience and has exceeded expectations in the
                                    community through these years. We desire to gain customer loyalty and be a referral
                                    based business because we know how important relationships are. We value our clients
                                    and pride ourselves in keeping projects clean and getting things done right the
                                    first time.
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (7).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Residential</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Commercial</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (41).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="property_management" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>
                                    We provide a lot of experience and professional knowledge to all
                                    different types of situations. We specialize in rent increases, evictions, rent
                                    rolls, leasing, and maintenance. We provide service to residential and commercial
                                    properties. Our goal is to keep your property well maintained and keep expenses as
                                    low as possible.
                                </p>
                                <p>
                                    Our property managers have high knowledge in rules, regulations, and laws in
                                    Oakland, Tri-valley, Castro Valley, and Hayward.
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (12).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Natus erroroluptatem</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Accusantium doloremue</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Laudantium unde</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Natus error sit volupta</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Accusantium dolor</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (3).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="carpet_flooring" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>Sed ut perspiciatis unde omnis iste natus
                                    error sit voluptatem accusantium dolore
                                    mque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                                    quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore veritatis et
                                    quasi architecto.</p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (50).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>New Floors</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Carpet</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Wood</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Tile</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Linoleum</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Laminate</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (25).jpg' %}" alt="">
                            </div>
                        </div>
                        <div id="janitorial_services" class="row" style="display: none;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p>
                                    Experience with product knowledge in order to be up to code, Commercial services and
                                    residential home cleanings.
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                                        <img src="{% static 'web/img/service-we-provide/wide/img (14).jpg' %}" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Natus erroroluptatem</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Accusantium doloremue</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Laudantium unde</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Natus error sit volupta</li>
                                            <li><i class="fa fa-arrow-circle-o-right"></i>Accusantium dolor</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zoomIn">
                                <img src="{% static 'web/img/service-we-provide/long/img (2).jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# /#service-we-provice #}