{# #topbar #}
<section id="topbar" class="construct">
    <div class="container">
        <div class="row">
            <div class="social pull-right">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div> <!-- /.social -->
            <div class="contact-info pull-left">
                <ul>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 5750 Singing Hills Ave, Livermore CA
                    </a></li>
                    <li><a href="mailto:info@plumberx.com"><i class="fa fa-envelope"></i> info@constructpress.com</a>
                    </li>
                    <li><a href="tel:+19255649007"><i class="fa fa-phone"></i>  925-564-9007</a></li>
                </ul>
            </div> <!-- /.contact-info -->
        </div>
    </div>
</section>
{# /#topbar #}